# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg
*.egg-info/
.eggs/
dist/
build/

# Virtual environment
venv/
.env/
.env.*
.venv/

# Distribution
*.whl
*.tar.gz

# Pytest
.pytest_cache/

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Docker
docker-compose.override.yml

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
